doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css', integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==', crossorigin='anonymous', referrerpolicy='no-referrer')
    link(rel='stylesheet', href='/css/base.css')
    block styles
    block title
  body
    .body
      .main-nav
        a(href="/")
          .logo QUIZZHUB
        .search
          .search-inp
            if name 
              input(type='text', placeholder='Search a quiz', value=`${name}`)
            else
              input(type='text', placeholder='Search a quiz')
          .search-btn
            img(src='/img/search (1).png')
        if user
          .profile-container
            .notification-center.noti-off
              -let c=0
              if allReqs
                for req in allReqs
                  if req.status==1
                    -c+=1
                    .noti-card(data-id=req.from._id)
                      .noti-data
                        .noti-head=`${req.from.firstName[0].toUpperCase()}${req.from.firstName.slice(1)} sent you a friend request`
                        .noti-time=timeSince(req.time)+" ago"
                      .noti-opt
                        .noti-acc
                          i.fa-solid.fa-check(style="color:#fafafa")
                        .noti-dec
                          i.fa-solid.fa-x.fa-sm(style="color:#fafafa")
                  else if req.status==2
                      if String(user._id)!=String(req.to._id)
                        -c+=1
                        .noti-card(data-id=req._id)
                          .noti-data
                            .noti-head=`${req.to.firstName[0].toUpperCase()}${req.to.firstName.slice(1)} accepted your friend request`
                            .noti-time=timeSince(req.time)+" ago"
                          .noti-opt
                            .noti-rem
                              i.fa-solid.fa-x.fa-sm(style="color:#fafafa")
                  else if req.status==3
                      if String(user._id)!=String(req.to._id)
                        -c+=1
                        .noti-card(data-id=req._id)
                          .noti-data
                            .noti-head=`${req.to.firstName[0].toUpperCase()}${req.to.firstName.slice(1)} declined your friend request`
                            .noti-time=timeSince(req.time)+" ago"
                          .noti-opt
                            .noti-rem
                              i.fa-solid.fa-x.fa-sm(style="color:#fafafa")
                  else 
                        -c+=1
                        .noti-card(data-id=req._id)
                          .noti-data
                            .noti-head=`You scored ${req.score}/${req.totalScore} marks in ${req.quiz.name}`
                            .noti-time=timeSince(req.time)+" ago"
                          .noti-opt
                            .noti-mark-rem
                              i.fa-solid.fa-x.fa-sm(style="color:#fafafa")
              if c==0
                .noti-null No New Notifications Available
            .noti-activate
              i.fa-regular.fa-bell.fa-lg(style='color: #f7f7f7')
            if user.profilePic
              a(href="/profile")
                .profile-pic-c
                  -let cond=user.profilePic && user.profilePic.startsWith("http")
                  if cond
                    img(src=`${user.profilePic}`)
                  else 
                    img(src=`/img/users/${user.profilePic}`)
            else
              a(href="/profile")  
                div(style=`background-color :${user.color} !important;`).profile= user.firstName[0].toUpperCase()
        else
          .profile-container
            a.nav__el.nav__el--cta(href="/login") Log In
            a.nav__el.nav__el--cta(href="/signUp") Sign UP
      .body-container
        block cont
    script(src="/socket.io/socket.io.js")
    block jslink